---
import BaseLayout from "@layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Landing from "@components/Landing.astro";
import { t } from "i18n:astro";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import { getOptimizedImage } from "@utils/utils";
import landingImage from "@assets/images/landing.jpg"; // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage);
---

<BaseLayout
  title={t("about-page.landing")}
  description="Meta description for the page"
  preloadedImage={optimizedImage}
>
  <Landing title={t("about-page.landing")} image={optimizedImage} />

  <!-- Gallery -->

  <section id="gallery-1508">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Gallery</span>
        <h2 class="cs-title">Explore Our Amazing Gallery</h2>
        <p class="cs-text">
          We promise to take care of your child’s social, emotional,
          intellectual and physical needs with sensitive care and we also ensure
          you their security with our life.
        </p>
      </div>
      <!--Picture 1-->
      <div class="cs-picture-group">
        <picture class="cs-image">
          <source
            media="(max-width: 600px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-one.png"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-one.png"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-one.png0"
            height="400"
            height="400"
            alt="day care"
          />
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">Die Paper Craft</h3>
          <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
        </div>
      </div>
      <!--Picture 2-->
      <div class="cs-picture-group">
        <picture class="cs-image">
          <source
            media="(max-width: 600px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-two.png"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-two.png"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-two.png5"
            height="400"
            height="400"
            alt="day care"
          />
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">Die Paper Craft</h3>
          <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
        </div>
      </div>
      <!--Picture 3-->
      <div class="cs-picture-group">
        <picture class="cs-image">
          <source
            media="(max-width: 600px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-three.png"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-three.png"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-three.png5"
            height="400"
            height="400"
            alt="day care"
          />
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">Die Paper Craft</h3>
          <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
        </div>
      </div>
      <!--Picture 4-->
      <div class="cs-picture-group">
        <picture class="cs-image">
          <source
            media="(max-width: 600px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-four.png"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-four.png"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-four.png5"
            height="400"
            height="400"
            alt="day care"
          />
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">Die Paper Craft</h3>
          <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
        </div>
      </div>
      <!--Picture 5-->
      <div class="cs-picture-group">
        <picture class="cs-image">
          <source
            media="(max-width: 600px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-five.png"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-five.png"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-five.png5"
            height="400"
            height="400"
            alt="day care"
          />
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">Die Paper Craft</h3>
          <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
        </div>
      </div>
      <!--Picture 6-->
      <div class="cs-picture-group">
        <picture class="cs-image">
          <source
            media="(max-width: 600px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-six.png"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-six.png"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-six.png0"
            height="400"
            height="400"
            alt="day care"
          />
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">Die Paper Craft</h3>
          <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
        </div>
      </div>
      <!--Picture 7-->
      <div class="cs-picture-group">
        <picture class="cs-image">
          <source
            media="(max-width: 600px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-seven.png"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-seven.png"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-seven.png0"
            height="400"
            height="400"
            alt="day care"
          />
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">Die Paper Craft</h3>
          <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
        </div>
      </div>
      <img
        class="cs-graphic cs-graphic-one"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-team-graphic-four.svg"
        alt="graphic"
        loading="lazy"
        decoding="async"
        height="134"
        width="197"
      />
      <img
        class="cs-graphic cs-graphic-two"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-team-graphic-three.svg"
        alt="graphic"
        loading="lazy"
        decoding="async"
        height="191"
        width="138"
      />
    </div>
  </section>

  <CTA />
</BaseLayout>

<style lang="less">
  /*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #gallery-1508 {
      padding: var(--sectionPadding);
      overflow: hidden;

      .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: (550/16rem);
        margin: auto;
        display: grid;
        grid-auto-flow: row;
        /* 16px - 20px */
        gap: clamp(1rem, 2vw, 1.25rem);
        position: relative;
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        /* 48px - 64px */
        margin-bottom: clamp(3rem, 6vw, 4rem);
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
      }

      .cs-button-solid {
        font-size: (16/16rem);
        font-weight: 700;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-align: center;
        text-decoration: none;
        margin: (32/16rem) 0 0;
        /* 32px - 48px */
        padding: 0 clamp(2rem, 4vw, 3rem);
        color: #fff;
        background-color: var(--secondary);
        border-radius: (30/16rem);
        display: inline-block;
        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: color 0.3s;

        &:before {
          content: "";
          width: 0%;
          height: 100%;
          background: var(--secondary);
          opacity: 1;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: width 0.3s;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }

      .cs-picture-group {
        position: relative;
        /* stops the name and text being overflown during the transition */
        overflow: hidden;
      }

      .cs-image {
        width: 100%;
        height: (280/16rem);
        border-radius: (20/16rem);
        display: block;
        position: relative;
        /* clips the image corners */
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          /* makes it act like a background image */
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-info {
        display: flex;
        flex-direction: column;
        gap: (4/16rem);
        position: absolute;
        bottom: (16/16rem);
        left: (16/16rem);
      }

      .cs-h3,
      .cs-item-text {
        width: fit-content;
        margin: 0;
        padding: (12/16rem) (16/16rem);
        color: #fff;
        background-color: #1a1a1a;
        border-radius: (8/16rem);
        transition:
          transform 0.3s,
          opacity 0.3s;
      }

      .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 1vw, 1.5625rem);
        font-weight: 700;
        line-height: 1.2em;
        transition-delay: 0.05s;
      }

      .cs-item-text {
        font-size: (16/16rem);
        line-height: 1.5em;
        padding: (12/16rem) (16/16rem);
      }

      .cs-graphic {
        display: none;
        position: absolute;
      }

      .cs-graphic-one {
        width: (138/16rem);
        height: (191/16rem);
        top: (208/16rem);
        right: (-109/16rem);
        transform: rotate(104deg);
      }

      .cs-graphic-two {
        width: (197/16rem);
        height: (134/16rem);
        bottom: (-73/16rem);
        left: (-89/16rem);
      }

      .cs-title {
        margin: 1rem 0;
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #gallery-1508 {
      .cs-container {
        max-width: (1280/16rem);
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 1fr);
      }

      .cs-content {
        grid-column: span 12;
      }

      .cs-picture-group {
        &:nth-child(2) {
          display: block;
          grid-column: span 6;
          grid-row: span 2;
        }

        &:nth-child(3) {
          grid-column: span 6;
          grid-row: span 1;
        }

        &:nth-child(4) {
          grid-column: span 6;
          grid-row: span 2;
        }

        &:nth-child(5) {
          grid-column: span 6;
          grid-row: span 1;
        }

        &:nth-child(6) {
          grid-column: span 12;
          grid-row: span 1;
        }

        &:nth-child(7) {
          grid-column: span 6;
          grid-row: span 1;
        }

        &:nth-child(8) {
          grid-column: span 6;
          grid-row: span 1;
        }
      }

      .cs-image {
        height: 100%;
      }
    }
  }

  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #gallery-1508 {
      .cs-container {
        grid-template-rows: repeat(4, 1fr);
      }

      .cs-content {
        text-align: left;
        margin-top: (-53/16rem);
        align-items: flex-start;
        grid-column: span 8;
      }

      .cs-picture-group {
        &:nth-child(2) {
          grid-column: span 4;
          grid-row: span 1;
        }

        &:nth-child(3) {
          grid-column: span 4;
          grid-row: span 2;
        }

        &:nth-child(4) {
          grid-column: span 4;
          grid-row: span 1;
        }

        &:nth-child(5) {
          grid-column: span 4;
          grid-row: span 2;
        }

        &:nth-child(6) {
          grid-column: span 4;
          grid-row: span 2;
        }

        &:nth-child(7) {
          grid-column: span 4;
          grid-row: span 1;
        }

        &:nth-child(8) {
          grid-column: span 4;
          grid-row: span 1;
        }
      }

      .cs-h3,
      .cs-item-text {
        opacity: 0;
        transform: translateY(2rem);
      }

      .cs-picture-group {
        &:hover {
          .cs-h3,
          .cs-item-text {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }

  /* Large Desktop - 1300px */
  @media only screen and (min-width: 81.25rem) {
    #gallery-1508 {
      .cs-content {
        margin-top: 0;
      }

      .cs-graphic {
        display: block;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode {
      #gallery-1508 {
        .cs-topper {
          color: var(--primaryLight);
        }

        .cs-title,
        .cs-text,
        .cs-item-text {
          color: var(--bodyTextColorWhite);
        }

        .cs-text {
          opacity: 0.8;
        }
      }
    }
  }
</style>
